contents.xcworkspacedata
TapGame.xcodeproj/project.xcworkspace/xcuserdata/Pablo.xcuserdatad/UserInterfaceState.xcuserstate
TapGame.xcodeproj/xcuserdata/Pablo.xcuserdatad/xcschemes/xcschememanagement.plist
TapGame.xcworkspace/xcuserdata/Pablo.xcuserdatad/UserInterfaceState.xcuserstate
TapGame.xcworkspace/xcuserdata/Pablo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
